polkit.addRule(function(action, subject) {
  if ((action.id == "org.freedesktop.RealtimeKit1.acquire-real-time" ||
       action.id == "org.freedesktop.RealtimeKit1.acquire-high-priority") &&
      subject.user == "openhome") {
    return polkit.Result.YES;
  }
});
